## Testing TPS

TPS will be used in this notebook to predict merge.8.Q, the output of ADMIXTURE. Only the first 961 rows are of interest and are the input for TPS.

## Solution Steps:

1. Load Data ('merge.8.Q' data file)  
2. Feature Engineering  
 [exactly like](https://colab.research.google.com/drive/12uu_imAIIHzo0uzfHWSPJA2HkwrI6EJL#scrollTo=2ffzwelllblg&line=5&uniqifier=1)
3. Use the Model (Prediction)  
[TPS model](https://https://github.com/sarabehnamian/Origins-of-Ancient-Eurasian-Genomes/blob/main/solution.ipynb)

**Import Libraries**

In [1]:
import pandas as pd
import pickle
import warnings
warnings.filterwarnings('ignore')

**Load Data**

In [2]:
data = input("Please enter data file name (example: merge.8.Q) :") or 'merge.8.Q'
df = pd.read_csv(data, sep=' ',names=['AncientComponent1', 'AncientComponent2','AncientComponent3','AncientComponent4', 'AncientComponent5', 'ModernComponent1',
                     'ModernComponent2','ModernComponent3']) 
df = df.head(961)
df.head(5)

,AncientComponent1,AncientComponent2,AncientComponent3,AncientComponent4,AncientComponent5,ModernComponent1,ModernComponent2,ModernComponent3
0,0.00001,0.00001,0.00001,0.00001,0.00001,0.00001,0.996609,0.003331
1,0.00001,0.00001,0.00001,0.00001,0.00001,0.00001,0.999930,0.000010
2,0.00001,0.00001,0.00001,0.00001,0.00001,0.00001,0.999930,0.000010
3,0.00001,0.00001,0.00001,0.00001,0.00001,0.00001,0.999930,0.000010
4,0.00001,0.00001,0.00001,0.00001,0.00001,0.00001,0.999930,0.000010

In [3]:
print(data)

merge.8.Q

**Feature Engineering**

In [4]:
df['mean_Ancient_columns'] = df.loc[:,['AncientComponent1','AncientComponent2','AncientComponent3','AncientComponent4','AncientComponent5']].mean(axis=1)  
AncientComponent1_mean = df['AncientComponent1'].mean()
df['AncientComponent1_diff_mean'] = abs(df['AncientComponent1'] - AncientComponent1_mean)  
df['AncientComponent1'] = df['AncientComponent1']+(3*df['AncientComponent1_diff_mean'])

**Use the Model**

In [5]:
# load the model
loaded_model = pickle.load(open('random_model.pkl', 'rb'))
df['TPS predicted date (BP)'] = loaded_model.predict(df).round()
df['TPS predicted date (BP)'].tail(10)

951    3175.0
952    3315.0
953    3335.0
954    5061.0
955    2820.0
956    2820.0
957    2820.0
958    3001.0
959    2831.0
960    3136.0
Name: TPS predicted date (BP), dtype: float64

In [6]:
#save the output as an Excel file
outputfile_name = input("Please enter output file name (example: mergq.xlsx):") or 'mergq.xlsx'
df.to_excel(outputfile_name,index=None)